/* 極小デバイス（縦向きモバイル, 576px 未満）*/
/* Bootstrapではデフォルトで `xs` のメディアクエリは存在しない */


/* 小デバイス（横向きモバイル, 576px 以上）*/
@media (min-width: 576px) {

    /* navbar */

    /* header */

    /* work */

    /* about */

    /* service */

    /* contact */

}

/* 中デバイス（タブレット, 768px 以上）*/
@media (min-width: 768px) {

    /* common */

    h2{
        padding-top: 80px;
        padding-bottom: 60px;
    }

    /* menu-content */

    #menu-content li{
        margin-bottom: 40px;
    }

    /* navbar */

    /* header */

    .profile img{
        width: 24vw;
        height: 24vw;
    }

    h1{
        font-size: 6vw;
        padding: 6vh 0;
    }

    .profile p{
        font-size: 2.8vw;
        letter-spacing: 2vw;
    }

    .profile i{
        margin-top: 8vh;
    }

    /* work */

    .work{
        box-shadow: 0 0 12px #aaa;
    }

    .works article > span{
        font-size: 16px;
    }

    /* about */

    #about{
        padding-bottom: 120px;
    }

    .my-career{
        margin-top: 8vh;
        width: 60%;
    }

    /* service */

    #service article{
        width: 75%;
        padding: 60px 0;
        margin-bottom: 30px;
    }

    #service article > i{
        font-size: 10vw;
    }

    #service h3{
        font-size: 4vw;
        margin-bottom: 30px;
    }

    /* contact */

    #contact > div{
        width: 40%;
    }

    #contact > div > a{
        font-size: 10vw;
    }

}

/* 大デバイス（デスクトップ, 992px 以上）*/
@media (min-width: 992px) {

    /* common */

    h2{
        font-size: 32px;
        letter-spacing: 30px;
        padding-left: 40px;
    }

    h2::before{
        transform: translateX( -32% );
    }

    /* menu-content */

    #menu-content{
        font-size: 28px;
        padding-right: 60px;
        padding-top: 40px;
    }

    /* navbar */

    /* header */

    .profile{
        top: 60%;
    }

    .profile img{
        width: 12vw;
        height: 12vw;
    }

    h1{
        font-size: 28px;
    }

    .profile p{
        font-size: 16px;
        letter-spacing: 10px;
        line-height: 30px;
    }

    .profile i{
        font-size: 24px;
    }

    /* work */

    .works{
        width: 60%;
    }

    .works article{
        height: 40vw;
        margin-bottom: 20px;
    }

    .work{
        height: 40vw;
    }

    .works article > span{
        bottom: 10px;
        right: 16px;
        line-height: normal;
        font-size: 14px;
        color: #333;
    }

    .work-detail > i{
        font-size: 32px;
    }

    /* about */

    .my-career{
        width: 40%;
    }

    /* service */

    #service > div{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    #service article{
        width: 30%;
        padding: 40px 30px;
    }

    #service article > i{
        font-size: 60px;
    }

    #service h3{
        font-size: 20px;
        letter-spacing: 20px;
        padding-left: 20px;
        margin-top: 30px;
    }

    /* contact */

    #contact > div{
        width: 30%;
    }

    #contact > div > a{
        font-size: 60px;
    }

    #contact > div > span{
        padding-top: 30px;
    }

}

/* 特大デバイス（ワイド・デスクトップ, 1200px 以上）*/
@media (min-width: 1200px) {

    /* navbar */

    /* header */

    /* work */

    /* about */

    /* service */

    /* contact */

}
